<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <% include head %>

    <%- req.flash('logout') %>
    <%- req.flash('userNotFound') %>
    <%- req.flash('wrongPass') %>
    <%- req.flash('usrCreated') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title"><%= __('Please Sing in') %></h1>
            <div class="account-wall">
                <form class="form-signin" action="/login" method="POST">
                <input type="text" class="form-control" name="user" placeholder="Your Login" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                <button class="btn btn-lg btn-info btn-block" type="submit"> <%= __('Sign in') %></button>
                </form>
            </div>
            <a href="/signup" class="text-center new-account"><%= __('Create account') %></a>
        </div>
      </div>
    </div>
    
    <% include footer %>
  </body>
</html>